.Header{
    position: relative;
    height: 100vh;
    background-image: url("../image1.jpg");
    background-size: cover;
    background-position: center;
}

.Header>img{
    width: 100%;
    height: auto;
}

.title{
    position: absolute;
    left:35vw;
    top: 25vh;
    z-index: 2;
    color: gold;
}

#firstline{
    font-size: 40px;
}
#firstline::first-letter{
    font-size: 60px
}

#secondline{
    font-size: 20px;
    letter-spacing: 10px;
}

#thirdline{
    font-size: 10px;
}